
@{
    ViewBag.Title = "Index";
}

<h2>Menu</h2>
<div>
    <ul>
        <li>@Html.ActionLink("Lista książek", "Index", "Book")</li>
        <li>@Html.ActionLink("Lista autorów", "Index", "Author")</li>
    </ul>
</div>

